@use "../../library.scss" as *;

.container {
  height: 68px;
  width: 68px;
  position: relative;
  @include flex(center, center);

  img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    position: absolute;
  }
}

.status {
  background-color: $darkBG;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  bottom: 0;
  right: -4px;
  border-radius: 100px;
  @include flex(center, center);

  .indicator {
    height: 14px;
    width: 14px;
    border-radius: 100px;
  }
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.highlight {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(45deg, $gradient);
  overflow: hidden;
  border-radius: 100px;
  opacity: 1;
  transition: 0.15s ease-in;
}

.hidden {
  opacity: 0;
  transition: 0.15s ease-in;
  border-radius: 100px;
}
