<div
  class="container"
  [ngStyle]="{ width: size + 8 + 'px', height: size + 8 + 'px' }"
>
  <div [ngClass]="active ? 'highlight' : 'hidden'"></div>
  <div *ngIf="settings" class="settings">
    <img src="assets/camera.webp" alt="change picture" />
  </div>
  <img
    src="{{ pic }}"
    [ngStyle]="{ width: size + 'px', height: size + 'px' }"
  />

  <div class=""></div>
  <div class="status" *ngIf="status">
    <div
      [ngClass]="status === 'online' ? 'indicator online' : 'indicator offline'"
    ></div>
  </div>
</div>
