<div class="container">
  <input type="text" placeholder="Search..." (change)="setQuery($event)" />

  <div class="online">
    <p>Active Now</p>
    <div class="online-row">
      <app-user-pic
        *ngFor="let contact of online"
        [pic]="contact.pic"
        [status]="contact.status"
      ></app-user-pic>
    </div>
    <hr />
  </div>

  <div class="messages">
    <div class="inner">
      <app-contact-card
        *ngFor="let contact of results"
        [contact]="contact"
        [active]="activeChat === contact.id ? true : false"
        (click)="setActiveChat(contact.id)"
      ></app-contact-card>
    </div>
  </div>
</div>
