<div
  [ngClass]="
    width < 850
      ? visible
        ? 'containerUnder850'
        : 'remove'
      : visible
      ? 'container'
      : 'remove'
  "
>
  <input type="text" placeholder="Search..." (change)="setQuery($event)" />

  <div class="online">
    <p>Active Now</p>
    <div class="online-row">
      <div *ngFor="let contact of online" class="online-item">
        <app-user-pic
          [pic]="contact.pic"
          [status]="contact.status"
          (click)="setActiveChat(contact.id)"
          [active]="activeChat === contact.id ? true : false"
        ></app-user-pic>
      </div>
    </div>
    <hr />
  </div>

  <div class="messages">
    <div class="inner">
      <app-contact-card
        *ngFor="let contact of results"
        [contact]="contact"
        [active]="activeChat === contact.id ? true : false"
        (click)="setActiveChat(contact.id)"
      ></app-contact-card>
    </div>
  </div>
</div>

<div
  [ngClass]="width < 850 && visible ? 'overlay' : 'hiddenOverlay'"
  (click)="setVisible()"
></div>
