@use "../../library.scss" as *;

:host {
  height: 100%;
  flex-grow: 1;
}

.container {
  height: 100%;
  width: 100%;
  @include flex(flex-start, center);
  flex-direction: column;
  position: relative;
}

.header {
  @include flex(space-between, center);
  width: 100%;
  height: 70px;

  .info {
    @include flex(center, center);
    gap: 12px;
    margin-left: 16px;

    p {
      font-size: 1.4em;
    }
  }
}

.search {
  width: 250px;
  padding: 10px 10px;
  background-color: $inputBG;
  border: 1px solid $grey;
  border-radius: 10px;
  background-image: url("/assets/search.png");
  background-size: 24px;
  background-position: right 14px top 6px;
  background-repeat: no-repeat;
  color: $fontColor;
  transition: 0.2s ease-in;
  outline: none;

  &:focus {
    background-image: url("/assets/search-active.png");
    border-color: white;
  }
}

.settings {
  @include flex(center, center);
  gap: 16px;
  margin-right: 16px;
  img {
    height: 24px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      @include iconHover;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid $grey;
  width: 90%;
  margin-bottom: 40px;
}

.messages {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
}

.bubble {
  padding: 10px 20px;
  margin: 0;
}

.you {
  border-radius: 10px 0 10px 10px;
  background-color: #83f0ff;
  color: black;
  margin-right: 80px;
}

.friend {
  border-radius: 0 10px 10px 10px;
  background-color: #1c1f2a;
  margin-left: 80px;
}

.bubble-container {
  @include flex(center, flex-start);
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
}

.bubble-container-you {
  @include flex(center, flex-end);
  flex-direction: column;
  width: 100%;
  margin-right: 100px;
}

.bubble-header {
  @include flex(center, center);
  gap: 12px;
}

.time {
  color: $grey;
  font-size: 0.8em;
}

.bubble-body {
  @include flex(center, flex-start);
  gap: 12px;
  flex-direction: column;
  position: relative;
  top: -10px;
}

.bubble-body-you {
  @include flex(center, flex-end);
  gap: 12px;
  flex-direction: column;
  position: relative;
  top: -10px;
}

.form {
  @include flex(center, center);
  position: absolute;
  bottom: 20px;
  width: 90%;
  background-color: #1c1f2a;
  padding: 14px 10px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid white;
  }
}

.message-box {
  width: 100%;
  background-color: transparent;
  border: none;
  color: $fontColor;
  outline: none;
  font-size: 1.05em;
}

.send {
  padding: 12px 16px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: bold;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(45deg, $gradient);
  cursor: pointer;
  transition: 0.2s ease-in;
  @include flex(space-between, center);
  gap: 14px;

  img {
    height: 20px;
    transition: 0.2s ease-in;
  }

  &:hover {
    transform: scale(1.05);
    color: white;
    border: 1px solid white;
    transition: 0ms;

    img {
      @include iconHover;
      transition: 0ms;
    }
  }

  &:active {
    color: $grey;
    border-color: $grey;

    img {
      filter: invert(40%) sepia(8%) saturate(701%) hue-rotate(195deg)
        brightness(92%) contrast(88%);
    }
  }
}

.media {
  padding: 0;
  height: 150px;
  border-radius: 10px !important;
  cursor: pointer;
}
