@use "../../library.scss" as *;

:host {
  height: 100%;
  flex-grow: 1;
}

.container {
  height: 100%;
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  border: 1px solid $grey;
}
