<nav>
  <div class="logo">
    <img
      src="assets/menu.webp"
      alt="menu"
      class="menu"
      (click)="toggleMenu()"
    />
    <img src="assets/logo.webp" alt="TalkTo" />
    <span>TalkTo</span>
  </div>
  <div class="user">
    <img src="assets/alert.webp" alt="alerts" />
    <div class="user-click" (click)="toggleOptionsMenu()">
      <app-user-pic [pic]="'assets/avatar.webp'"></app-user-pic>
      <div class="user-info">
        <p>Alicia Henderson</p>
        <p>aliciahenderson@gmail.com</p>
      </div>

      <img src="assets/dropdown.webp" alt="options" />
    </div>
  </div>
</nav>
<app-user-menu
  *ngIf="Optionsmenu"
  (click)="toggleOptionsMenu()"
  (pageEmitter)="setPage($event)"
></app-user-menu>
