@use "../../library.scss" as *;

.menu {
  position: absolute;
  background-color: $secondaryBG;
  border-radius: 20px;
  padding: 5px 10px;
  z-index: 1000;
  right: 10px;
  top: 65px;
}

p {
  cursor: pointer;
  padding: 8px 22px;
  background-color: $highlight;
  color: black;
  border-radius: 20px;
  transition: 0.2s ease-in;
  font-size: 0.8em;

  &:hover {
    color: white;
    background-color: $secondaryBG;
    transition: 0s ease-in;
  }
  &:active {
    color: black;
  }
}
