@use "../../library.scss" as *;

:host {
  height: 100%;
}

.container {
  width: 100px;
  height: 100%;
  @include flex(flex-start, center);
  flex-direction: column;
}

.shortcuts {
  @include flex(center, center);
  flex-direction: column;
  gap: 60px;
  padding-top: 33px;
  img {
    @include icon;

    &:hover {
      @include iconHover;
    }
  }
}

.active {
  @include iconHover;
}
