<app-navbar
  [menu]="menu"
  (menuEmitter)="setMenu($event)"
  (pageEmitter)="setPage($event)"
></app-navbar>
<div class="main">
  <app-menu-bar
    [page]="page"
    [visible]="menu"
    [width]="width"
    (pageEmitter)="setPage($event)"
    (visibleEmitter)="setMenu($event)"
    (visibleContactsEmitter)="setContacts($event)"
    *ngIf="menu"
  ></app-menu-bar>
  <app-contacts
    [activeChat]="activeChat"
    [visible]="contacts"
    [width]="width"
    (activeChatEvent)="setActiveChat($event)"
    (visibleEmitter)="setContacts($event)"
  ></app-contacts>
  <app-message-board
    [active]="activeChat"
    (detailsEvent)="setDetails($event)"
    [details]="details"
  ></app-message-board>
  <app-details
    [active]="activeChat"
    [visible]="details"
    [width]="width"
    (detailsEvent)="setDetails($event)"
  ></app-details>
</div>
<app-user-modal
  *ngIf="page === 'user'"
  (pageEmitter)="setPage($event)"
></app-user-modal>
<app-settings-modal
  *ngIf="page === 'settings'"
  (pageEmitter)="setPage($event)"
></app-settings-modal>
