@use "library" as *;

html,
body {
  background-color: $darkBG;
  color: $fontColor;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
