@use "library" as *;

html,
body {
  background-color: $BG;
  color: $fontColor;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
}
